  c e r t i f i = = 2 0 2 6 . 2 . 2 5 
 
 c f f i = = 2 . 0 . 0 
 
 c h a r s e t - n o r m a l i z e r = = 3 . 4 . 5 
 
 c l a r a b e l = = 0 . 1 1 . 1 
 
 c o n t o u r p y = = 1 . 3 . 3 
 
 c v x p y = = 1 . 8 . 2 
 
 c y c l e r = = 0 . 1 2 . 1 
 
 d o c o p t = = 0 . 6 . 2 
 
 f o n t t o o l s = = 4 . 6 1 . 1 
 
 h i g h s p y = = 1 . 1 3 . 1 
 
 i d n a = = 3 . 1 1 
 
 I m a g e I O = = 2 . 3 7 . 2 
 
 J i n j a 2 = = 3 . 1 . 6 
 
 j o b l i b = = 1 . 5 . 3 
 
 k i w i s o l v e r = = 1 . 4 . 9 
 
 l a z y - l o a d e r = = 0 . 5 
 
 M a r k u p S a f e = = 3 . 0 . 3 
 
 m a t p l o t l i b = = 3 . 1 0 . 8 
 
 n e t w o r k x = = 3 . 6 . 1 
 
 n u m p y = = 2 . 4 . 2 
 
 o s q p = = 1 . 1 . 1 
 
 p a c k a g i n g = = 2 6 . 0 
 
 p a n d a s = = 3 . 0 . 1 
 
 p i l l o w = = 1 2 . 1 . 1 
 
 p i p r e q s = = 0 . 4 . 1 3 
 
 p y c p a r s e r = = 3 . 0 
 
 p y p a r s i n g = = 3 . 3 . 2 
 
 p y t h o n - d a t e u t i l = = 2 . 9 . 0 . p o s t 0 
 
 r e q u e s t s = = 2 . 3 2 . 5 
 
 s c i k i t - i m a g e = = 0 . 2 6 . 0 
 
 s c i p y = = 1 . 1 7 . 1 
 
 s c s = = 3 . 2 . 1 1 
 
 s e t u p t o o l s = = 8 2 . 0 . 0 
 
 s i x = = 1 . 1 7 . 0 
 
 t i f f f i l e = = 2 0 2 6 . 3 . 3 
 
 t z d a t a = = 2 0 2 5 . 3 
 
 u r l l i b 3 = = 2 . 6 . 3 
 
 w h e e l = = 0 . 4 6 . 3 
 
 y a r g = = 0 . 1 . 1 0 
 
 
